<div class="container mt-3">
  <div class="container px-5 px-sm-0">
  <div class="row">
    
    <%= render 'list', books: @books %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <% @books.each do |book| %>
        <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
        <p>ショップ名：<%= book.title %></p>
        <p>説明：<%= book.opinion %></p>
        <p>ユーザーネーム：<%= book.user.name %></p>
      <% end %>
    </div>
  </div>
</div>

